.css-my-bookings .woocommerce-MyAccount-navigation ,
.css-my-bookings .em-my-bookings {
    display: inline-block;
    vertical-align: top;
}


.css-my-bookings .em-my-bookings {
    width: calc(100% - 255px);
}

td.product-name dl.variation dt.variation-manage-booking-button ,
.mini_cart span.remove.disabled ,
.variation-manage-booking-button {
    display: none;
}

